<div class="medium-8 column" ng-controller="GroupsCtrl">
    <div>
        <button class="button tiny" ng-click="show = !show">Добавить группу</button>
        <form ng-show="show" ng-submit="addGroup()">
            <input type="text" ng-model="title">
            <button type="submit">Добавить</button>
        </form>
    </div>
    <table ng-init="getGroups()">
    <tbody>
        <tr ng-repeat="group in groups" ng-click="">
            <td>{{group.title}}</td>
        </tr>
    </tbody>
    </table> 
</div>
