
<div class="row" ng-controller="LoginCtrl">
    <form class="medium-4 small-12 columns medium-centered" role="form" ng-submit="login()">
        <h2>Пожалуйста, войдите</h2>
        <input type="email" class="" placeholder="Email" required autofocus value="{{email}}" ng-model="user.email">
        <input type="password" class="" placeholder="Пароль" required="" ng-model="user.password">
        <div>
            <label>
                <input type="checkbox" value="true" ng-model="user.remember"> Запомнить
            </label>
        </div>
        <button type="submit">Войти</button>
        <a href="/#registration">Регистрация</a>
    </form>
</div>

