<div class="medium-10 column" ng-controller="MessagesCtrl">
    <table ng-init="newMessageInit()">
    <tbody>
        <tr>
            <td width="120"><img class="th" ng-src="{{user.avatar}}"></td>
            <td width="50" online-lbl="{{user._id}}"></td>
            <td>{{user.firstname}} {{user.lastname}}</td>
        </tr>
    </tbody>
    </table> 
    <div class="row" id="message-box" ng-style="style()" messages>  
        <div class="small-12 columns" ng-repeat="message in messages track by $index">
            <div class="small-3 columns"><b ng-if="$index == 0 || messages[$index].from._id != messages[$index-1].from._id">{{message.from.firstname}} {{message.from.lastname}}</b></div>
            <div class="small-3 columns date right text-right" date="{{message.created}}"></div>
            <div class="small-6 columns right" ng-class="{read: message.nread}" message-text linkify>{{message.text}}</div>
        </div>
        <div id="bottom" class="small-12 columns"></div>
    </div>
     <div>
        <form id="addMessage" ng-submit="addMessage()">
            <input onclick="document.getElementById('bottom').scrollIntoView()" type="text" ng-model="msg" placeholder="Сообщение">
            <button class="right" type="submit">Отправить</button>
            <i id="loadFile" class="fi-photo" load-file></i>
            <input id="browseFile" style="display: none" type="file">
        </form>
    </div>
</div>