<div class="medium-8 column" ng-controller="UserCtrl">
    <h2>{{lastname}} {{firstname}}</h2>

    <form ng-submit="addMessage()" ng-controller="MessagesCtrl">
        <div>
            <p ng-repeat="msg in msgs">{{msg}}</p>
        </div>
        <textarea ng-model="msg.text"></textarea>
        <button type="submit">Отправить</button>
    </form>  
</div>