<div class="small-8 column" ng-controller="RegCtrl">
    <form class="form-signin" role="form" ng-submit="registration(user)">
        <h2 class="form-signin-heading">Регистрация</h2>
        <input type="text" class="form-control" placeholder="Имя" required autofocus value="{{firstname}}" ng-model="user.firstname">
        <input type="text" class="form-control" placeholder="Фамилия" required autofocus value="{{lastname}}" ng-model="user.lastname">
        <input type="email" class="form-control" placeholder="Email" required autofocus value="{{email}}" ng-model="user.email">
        <input type="password" class="form-control" placeholder="Пароль" required="" ng-model="user.password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Регистрация</button>
    </form>
</div>
