<div class="medium-8 column" ng-controller="ToDoCtrl">
    <div>
        <button class="button tiny" ng-click="show = !show">Добавить задачу</button>
        <form ng-show="show" ng-submit="addEvent()">
            <input type="text" ng-model="text" placeholder="Название задачи">
            <button type="submit">Добавить</button>
        </form>
    </div>
    <table ng-init="getEvents()">
    <tbody>
        <tr ng-repeat="event in events">
            <td><input type="checkbox" ng-model="event.status" ng-true-value="1" ng-false-value="0" ng-change="edit()" ng-checked="event.status == 1"></td>
            <td ng-dblclick="edit()" class="line-through-{{event.status}}">{{event.text}}</td>
            <td><button class="tiny" ng-click="delete()">Удалить</button></td>
        </tr>
    </tbody>
    </table> 
</div>