<div class="medium-8 column" ng-controller="UserCtrl">
    <!--<div>
        <button class="button tiny" ng-click="show = !show">Добавить пользователя</button>
        <form ng-show="show" ng-submit="addUser()" ng-init="getGroups()">
            <input type="text" ng-model="firstname" placeholder="Имя">
            <input type="text" ng-model="lastname" placeholder="Фамилия">
            <input type="email" ng-model="email" placeholder="Email">
            <input type="password" ng-model="password" placeholder="Пароль">
            <select ng-model="usergroup">
                <option ng-repeat="group in groups" value="{{group}}">{{group.title}}</option>
            </select>
            <button type="submit">Добавить</button>
        </form>
    </div>-->
    <table ng-init="getUsers()">
    <tbody>
        <tr ng-repeat="user in users" ng-click="redirect(user._id)">
            <td><img class="th" ng-src="{{getAvatar(user.email)}}"></td>
            <td width="50px" online-lbl="{{user._id}}"></td>
            <td>{{user.firstname}} {{user.lastname}}</td>
            <td>{{user.group.title}}</td>
            <td><button class="small" ng-click="newMessage($event, user._id)">Отправить сообщение</button></td>
        </tr>
    </tbody>
    </table> 
</div>