.line-through-1 {text-decoration: line-through}
#message-box{overflow-y:scroll; overflow-x: hidden; font-size: 0.8em; padding:80px 0 20px}
.date{font-size:0.8em}
#newMessage{position:absolute;right:20px;bottom:20px}
form#addMessage{position: relative}
#loadFile{position: absolute; right: 20px; top: 8px; cursor: pointer;}

.hover{background: #eee}
.read{background: #efefef}