<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="app" ng-controller="InitCtrl">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/foundation.min.css">
        <link rel="stylesheet" href="/css/foundation-icons.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/angular.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-cookies.min.js"></script>
        <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-cookies.min.js.map"></script>-->
        <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
        <script src="/js/socket.js"></script>
        <script src="/js/angular-linkify.min.js"></script>
        <script src="/js/md5.js"></script>
        <script src="/js/services.js"></script>
        <script src="/js/controllers.js"></script>
        <script src="/js/app.js"></script>
    </head>
    <body init>
        <div class="row">
            <div class="medium-2 column">
                <div profile></div>
                <ul class="side-nav">
                    <!--<li><a href="/#clients">Клиенты</a></li>-->
                    <li><a href="/#users">Пользователи</a></li>
                    <li><a href="/#groups">Отделы</a></li>
                    <!--<li><a href="/#messages">Сообщения</a></li>-->
                    <li><a href="/#todo">Задачи</a></li>
                    <li><a href="" ng-click="logout()">Выйти</a></li>
                </ul> 
            </div>
            <div ng-view onload="init()"></div>
            
        </div> 
        <footer class="small-3 small-centered column"></footer>
        <div id="newMessage" new-message></div>
    </body>
</html>
